.container { 
 margin: auto; 
 width: 800px;
 height: 400px;
}
.asideL {
    background-color: blueviolet;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 81px;
    height: 64.833px;
    width: 113.333px;
    top: -127px;
    left: -30px;
    position: relative;
  }
  
.main { 
    max-width: 600px;
    border-left-width: 0px;
    border-left-style: solid;
    margin-top: 100px;
    padding-left: 30px;
    margin-left: 127px;
    margin-right: auto;
    margin-bottom: auto;
}
.pagespacer { 
    height: 36px;
    width: auto;
}
.myButton {
    color: rgb(0, 44, 48); font-size: 16px; line-height: 16px; padding: 5px; border-radius: 19px; font-family: "Arial Black", Gadget, sans-serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(0, 164, 161) 0%, rgb(0, 203, 203) 50%, rgb(0, 115, 117) 100%); box-shadow: rgba(0, 0, 0, 0) -6px -9px 15px 0px; border: 2px solid rgb(28, 110, 164); display: inline-block; position: relative; left: -156.4px;top: -539.217px;}
    .myButton:hover {
    background: #00A4A1; }
    .myButton:active {
    background: #007375; }
.frame { 
outline-width: 20px;
outline-style: ridge;
outline-color: rgba(136,255,243,0.6);
outline-offset: 0px;
}