.container { 
 margin: auto; 
 width: 800px;
 height: 400px;
}
.asideL {
    background-color: blueviolet;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 81px;
    height: 64.833px;
    width: 113.333px;
    top: -127px;
    left: -30px;
    position: relative;
  }
  
.main { 
    max-width: 600px;
    border-left-width: 0px;
    border-left-style: solid;
    margin-top: 100px;
    padding-left: 30px;
    margin-left: 127px;
    margin-right: auto;
    margin-bottom: auto;
}
.pagespacer { 
    height: 63px;
    width: auto;
}